.title{
    background-color: #edf1f7;
    padding-left: 35%;
}

:host nb-tab {
    padding: 1.25rem;
}


.card-col {
    display: inline-block;
    cursor: pointer;
    height: 100px;
    width: 220px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}